.timeline {
  position: relative;
  max-width: 1000px;
  margin: auto;
  padding: 20px 0;
}

.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: #bbb;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

.timeline-container {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}

.timeline-container.left {
  left: 0;
}

.timeline-container.right {
  left: 50%;
}

.timeline-content {
  padding: 20px;
  background-color: white;
  position: relative;
  border-radius: 20px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.timeline-container::before {
  content: "";
  position: absolute;
  top: 15px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: white;
  border: 4px solid #D268CC;
  z-index: 1;
}

.timeline-container.left::before {
  right: -13px;
}

.timeline-container.right::before {
  left: -13px;
}

.timeline-container.right .timeline-content {
  margin-left: 20px;
}

.timeline-container.left .timeline-content {
  margin-right: 20px;
}

@media screen and (max-width: 768px) {
  .timeline::after {
    left: 31px;
  }

  .timeline-container {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }

  .timeline-container.right {
    left: 0%;
  }

  .timeline-container.left::before,
  .timeline-container.right::before {
    left: 15px;
  }

  .timeline-container.right .timeline-content,
  .timeline-container.left .timeline-content {
    margin: 0;
  }
}
